<h1 class="title">Projects</h1>
<h2 class="subtitle">You have <%= pluralize(@projects.size, "project") %></h2>

<%= render "projects/add_project_form" %>

<table class="table is-bordered is-fullwidth is-stripped">
  <tr>
    <th>Name</th>
    <th>Progress</th>
  </tr>

  <%= render partial: "projects/project", collection: @projects %>
</table>
