<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Project Manager</strong> by <a href="https://viniciusrocha.com">Vinicius Rocha</a>. Based on:
      <a href="https://github.com/basecamp/turbo-8-morphing-demo">https://github.com/basecamp/turbo-8-morphing-demo</a>
    </p>
  </div>
</footer>
